{
    admin off
    persist_config off
}

:{$PORT} {
    root * /app/public
    php_fastcgi 127.0.0.1:9000
    file_server
    encode zstd gzip

    # Set security headers
    header {
        X-Content-Type-Options nosniff
        X-Frame-Options SAMEORIGIN
        Referrer-Policy strict-origin-when-cross-origin
    }

    # Laravel specific handling
    try_files {path} {path}/ /index.php?{query}

    # Log to stdout
    log {
        output stdout
    }
}
